<head>

</head>

<form action="/game" method="POST">
    <label>Insert you name</label>
    <input type="text" name="playerName">
    <label>Insert game name</label>
    <input type="text" name="game">
    <button>Join / Create game</button>
</form>



